html
{
    box-sizing: border-box;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

:root 
{
    --white: #ffffff;
    --black: #000000;
    --button-color:  #404BBF;
    --two-color: #757575;
    --bg-color: #2f303a;
    --color-navy-blue: #2E2F42;
    --color-slate-p: #434455;
    --color-iris: #4D5AE5;
    --color-cornflower: #E7E9FC;
    --color-ocean: #404BBF;
    --color-cloud: #F4F4FD;
    --color-linght-slate: #8E8F99;
    --color-modal:#FCFCFC;
}
/*body*/
body
{
    font-family: "Roboto", sans-serif;
    background-color: var(--white);
    letter-spacing: 0.03em;
}

a
{
    text-decoration: none;
    color: inherit;
}
ul
{
    padding: 0;
    margin: 0;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p
{
    margin: 0;
}
img
{
    display: block;
    max-width: 100%;
    height: auto;
}

.container
{
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid tomato; */
}

/*header*/
.header
{
    font-weight: 700;
    box-sizing: border-box;
    background: var(--white);
    border-bottom: 1px solid var(--color-cornflower);   
}

.header .container
{
    display: flex;
    align-items: center;
}

.header-logo
{
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--color-iris);

    display: flex;
    align-items: center;
    margin-right: 93px;
}

.header-logo > span
{
    color: var(--color-navy-blue);
}

.nav
{
    display: flex;
}

.nav-list
{
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-link
{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);

    display: flex;
    margin-right: 40px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover
{
    color: var(--button-color);
}
.current::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 45px;
    display: block;
    width: 100%;
    height: 4px;
    background-repeat: no-repeat;
    background: var(--color-ocean);
    border-radius: 2px;
}

.address
{
    margin-left: auto;
}

.contact-link
{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate-p);
    font-style: normal;
    margin-left: 40px;
}

.contact-links
{
    display: flex;
    align-items: center;
}
.contact-link:hover,
.contact-link:focus
{
    color: var(--button-color);
}

.current
{
    color: var(--button-color);
}

.effective
{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-navy-blue);
    text-align: center;
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*main container */
.effective-title
{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 48px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.button
{
    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--color-iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border: none;
}
.button:hover,
.button:focus
{
    color: var(--white);
    color: var(--button-color);
}
/* Modal window */
.backdrop
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden
{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 576px;
    background: var(--color-modal);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-black-button
{
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: var(--black);
    background-color: var(--color-cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: var(--color-cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
/* .close-icon
{
    position: absolute;
    top: 32px;
    right: 32px;
    width: 8px;
    height: 8px;
    color: var(--black);
    cursor: pointer;
} */

/*Portfolio*/
.filter-list
{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}

.buttons-portfolio
{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.15;
    padding: 12px 24px;
    letter-spacing: 0.04em;
    border-color: var(--white);
    background: var(--white);
    color: var(--color-iris);
    border-radius: 4px;
    cursor: pointer; 
    text-align: center; 
    background-color: var(--color-cloud);
    border: 1px solid var(--color-cornflower);
}

.buttons-portfolio:hover,
.buttons-portfolio:focus
{
    color: var(--white);
    background-color: var(--button-color);
    border-color: var(--button-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list
{
    background: var(--white);
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.project-card
{
    display: block;
    cursor: pointer;
}
.project-card:hover,
.project-card:focus
{
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1));
    background-blend-mode: soft-light, normal;
    mix-blend-mode: normal;
}
.card-content
{
    padding: 32px 16px;
    border-left: 1px solid var(--color-cornflower);
    border-bottom: 1px solid var(--color-cornflower);
    border-right: 1px solid var(--color-cornflower);
}

.advantages-list
{
   display: flex; 
   gap: 24px;
}
.block
{
    background: var(--color-cloud);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    padding: 24px 0;
}
.icon
{
    background-position: center;
    background-repeat: no-repeat;
    border-left: 100px;
    border-top: 24px;
}
.advantages-title
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}
.advantages-text
{
    padding: 0;
    margin-top: 8px;
   
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate-p);
}

/*what we do container*/
/*-our team*/
.section
{
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-main
{
    padding-top: 0;
}
.team-section
{
    background-color: var(--color-cloud);
}
.section-title
{
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
}
.section-list
{
    display: flex;
    padding: 0px;
    gap: 24px;
}
.section-img
{
    border: 1px solid var(--color-cornflower);
}

.team-list
{
    display: flex;
    gap: 24px;
}
.content
{
    padding-top: 32px;
    padding-bottom: 32px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    border-color: var(--white);
}

.team-name
{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.12;
    text-align: justify;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.teams
{
    text-align: center;
}

.function
{
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.15;
    text-align: justify;
    letter-spacing: 0.02em;
    color: var(--color-slate-p); 
}

.titles
{
    text-align: center;
}

/* Social */
.social
{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}
.social-item
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-iris);
}
.social-link
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-link:hover,
.social-link:focus
{
    border-radius: 50%;
    background-color: var(--color-ocean);
}
.social-icon
{
    fill: var(--color-cloud);
}

/* Customers */
.customers
{
    padding-top: 130px;
    padding-bottom: 120px;
}
.customers-title
{
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}
.customers-list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.customers-item
{
    width: 168px;
    height: 88px;
    display: flex;
    border: 1px solid var(--color-linght-slate);
    border-radius: 4px;
}
.customers-link
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-color: 1px solid var(--color-linght-slate);
    color: var(--color-linght-slate);
}

.customers-icon
{
    fill: currentColor;
}

.customers-item:hover,
.customers-item:focus 
{
    fill: var(--color-ocean);
    border-color: var(--color-ocean);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon 
{
    fill: var(--color-ocean);
}

/*footer*/
.footer
{
    padding: 100px 0;
    background: var(--color-navy-blue);
    color: var(--color-cornflower);
}
.footer-container
{
    display: flex;
}
.logo-box
{
    margin-right: 120px;
}

.footer-logo
{
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--color-iris);
}

.footer-logo > span
{
    color: var(--color-cloud);
}
.footer-content
{
    width: 264px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--color-cornflower);
}

.footer-text
{
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
}
.footer-list
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    margin-top: 16px;
}
.footer-item
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}
.footer-link
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-link:hover,
.footer-link:focus
{
    border-radius: 50%;
    background-color: var(--color-linght-slate);
}
.footer-icon
{
    fill: var(--color-cloud);
}
